{% load static %}
<footer class="pt-8 pt-md-11 position-relative bg-darken dark-70 bg-gigas">
    <!-- Shape -->
    <div class="d-none d-wd-block shape shape-blur shape-left shape-flip-one-side shape-fluid-y svg-shim text-white">
        <svg viewBox="0 0 310 800" fill="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px">
            <path fill="currentColor" d="M193,0H0v800h310c-64.6,0-117-52.4-117-117V0z"/>
        </svg>

    </div>

    <div class="container">
        <div class="row" id="accordionFooter">
            <div class="col-12 col-md-4 col-lg-4">

                <!-- Brand -->
                <img src="{% static 'assets/img/brand.svg' %}" alt="..." class="footer-brand img-fluid mb-4 h-60p">

                <!-- Text -->
                <p class="text-gray-800 mb-4 font-size-sm-alone">
                    329 Queensberry Street, North Melbourne VIC 3051, Australia.
                </p>

                <div class="mb-4">
                    <a href="tel:1234567890" class="text-gray-800 font-size-sm-alone">123 456 7890</a>
                </div>

                <div class="mb-4">
                    <a href="mailto:support@skola.com" class="text-gray-800 font-size-sm-alone">support@skola.com</a>
                </div>

                <!-- Social -->
                <ul class="list-unstyled list-inline list-social mb-4 mb-md-0 mx-n2 text-white-70 font-size-sm">
                    <li class="list-inline-item list-social-item">
                        <a href="#" class="w-36 h-36 bg-white-hover rounded-circle d-flex align-items-center justify-content-center">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item list-social-item">
                        <a href="#" class="w-36 h-36 bg-white-hover rounded-circle d-flex align-items-center justify-content-center">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item list-social-item">
                        <a href="#" class="w-36 h-36 bg-white-hover rounded-circle d-flex align-items-center justify-content-center">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item list-social-item">
                        <a href="#" class="w-36 h-36 bg-white-hover rounded-circle d-flex align-items-center justify-content-center">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-md-4 col-lg-2">
                <div class="mb-5 mb-xl-0 footer-accordion">

                    <!-- Heading -->
                    <div id="widgetOne">
                        <h5 class="mb-5">
                            <button class="text-dark fw-medium footer-accordion-toggle d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#widgetcollapseOne" aria-expanded="true" aria-controls="widgetcollapseOne">
                                Our Company
                                <span class="ms-auto text-dark">
                                    <!-- Icon -->
                                    <svg width="15" height="2" viewBox="0 0 15 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="15" height="2" fill="currentColor"/>
                                    </svg>

                                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7H15V9H0V7Z" fill="currentColor"/>
                                        <path d="M6 16L6 8.74228e-08L8 0L8 16H6Z" fill="currentColor"/>
                                    </svg>

                                </span>
                            </button>
                        </h5>
                    </div>

                    <div id="widgetcollapseOne" class="collapse show" aria-labelledby="widgetOne" data-parent="#accordionFooter">
                        <!-- List -->
                        <ul class="list-unstyled text-gray-800 font-size-sm-alone mb-6 mb-md-8 mb-lg-0">
                            <li class="mb-3">
                                <a href="about-v1.html" class="text-reset">
                                    Our Company
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="about-v2.html" class="text-reset">
                                    About Us
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="contact-us.html" class="text-reset">
                                    Contact Us
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="contact-us.html" class="text-reset">
                                    Community
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="course-list-v1.html" class="text-reset">
                                    Student Perks
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="blog-grid-v1.html" class="text-reset">
                                    Blog
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="pricing.html" class="text-reset">
                                    Affiliate Program
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="contact-us.html" class="text-reset">
                                    Careers
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 col-lg-2">
                <div class="mb-5 mb-xl-0 ms-xl-6 footer-accordion">

                    <!-- Heading -->
                    <div id="widgetTwo">
                        <h5 class="mb-5">
                            <button class="text-dark fw-medium footer-accordion-toggle d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#widgetcollapseTwo" aria-expanded="false" aria-controls="widgetcollapseTwo">
                                Topics
                                <span class="ms-auto text-dark">
                                    <!-- Icon -->
                                    <svg width="15" height="2" viewBox="0 0 15 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="15" height="2" fill="currentColor"/>
                                    </svg>

                                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7H15V9H0V7Z" fill="currentColor"/>
                                        <path d="M6 16L6 8.74228e-08L8 0L8 16H6Z" fill="currentColor"/>
                                    </svg>

                                </span>
                            </button>
                        </h5>
                    </div>

                    <div id="widgetcollapseTwo" class="collapse" aria-labelledby="widgetTwo" data-parent="#accordionFooter">
                        <!-- List -->
                        <ul class="list-unstyled text-gray-800 font-size-sm-alone mb-6 mb-md-8 mb-lg-0">
                            <li class="mb-3">
                                <a href="course-list-v2.html" class="text-reset">
                                    HTML
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="course-list-v2.html" class="text-reset">
                                    CSS
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="course-list-v6.html" class="text-reset">
                                    Design
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="course-list-v5.html" class="text-reset">
                                    JavaScript
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="course-list-v4.html" class="text-reset">
                                    Ruby
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="course-list-v1.html" class="text-reset">
                                    PHP
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="course-list-v3.html" class="text-reset">
                                    Android
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="course-list-v4.html" class="text-reset">
                                    Development Tools
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="course-list-v6.html" class="text-reset">
                                    Business
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 offset-md-4 col-lg-2 offset-lg-0">
                <div class="mb-5 mb-xl-0 ms-xl-6 footer-accordion">

                    <!-- Heading -->
                    <div id="widgetThree">
                        <h5 class="mb-5">
                            <button class="text-dark fw-medium footer-accordion-toggle d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#widgetcollapseThree" aria-expanded="false" aria-controls="widgetcollapseThree">
                                Tracks
                                <span class="ms-auto text-dark">
                                    <!-- Icon -->
                                    <svg width="15" height="2" viewBox="0 0 15 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="15" height="2" fill="currentColor"/>
                                    </svg>

                                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7H15V9H0V7Z" fill="currentColor"/>
                                        <path d="M6 16L6 8.74228e-08L8 0L8 16H6Z" fill="currentColor"/>
                                    </svg>

                                </span>
                            </button>
                        </h5>
                    </div>

                    <div id="widgetcollapseThree" class="collapse" aria-labelledby="widgetThree" data-parent="#accordionFooter">
                        <!-- List -->
                        <ul class="list-unstyled text-gray-800 font-size-sm-alone mb-0">
                            <li class="mb-3">
                                <a href="lesson-single-v1.html" class="text-reset">
                                    Web Design
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="lesson-single-v2.html" class="text-reset">
                                    Web Development
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="lesson-single-v1.html" class="text-reset">
                                    Rails Development
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="lesson-single-v2.html" class="text-reset">
                                    PHP Development
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="lesson-single-v1.html" class="text-reset">
                                    Android Development
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="lesson-single-v2.html" class="text-reset">
                                    Starting a Business
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 col-lg-2 d-xl-flex">
                <div class="mb-5 mb-xl-0 ms-xl-auto footer-accordion">

                    <!-- Heading -->
                    <div id="widgetFour">
                        <h5 class="mb-5">
                            <button class="text-dark fw-medium footer-accordion-toggle d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#widgetcollapseFour" aria-expanded="false" aria-controls="widgetcollapseFour">
                                Support
                                <span class="ms-auto text-dark">
                                    <!-- Icon -->
                                    <svg width="15" height="2" viewBox="0 0 15 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="15" height="2" fill="currentColor"/>
                                    </svg>

                                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7H15V9H0V7Z" fill="currentColor"/>
                                        <path d="M6 16L6 8.74228e-08L8 0L8 16H6Z" fill="currentColor"/>
                                    </svg>

                                </span>
                            </button>
                        </h5>
                    </div>

                    <div id="widgetcollapseFour" class="collapse" aria-labelledby="widgetFour" data-parent="#accordionFooter">
                        <!-- List -->
                        <ul class="list-unstyled text-gray-800 font-size-sm-alone mb-0">
                            <li class="mb-3">
                                <a href="docs/index.html" class="text-reset">
                                    Documentation
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="docs/index.html" class="text-reset">
                                    Forums
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="docs/index.html" class="text-reset">
                                    Language Packs
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="docs/changelog.html" class="text-reset">
                                    Release Status
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- / .row -->

        <div class="py-8 text-center">
            <p class="text-gray-800 font-size-sm-alone mb-0 px-9 px-md-0">Copyright © 2021 CreativeLayers. All Right Reserved.</p>
        </div>
    </div> <!-- / .container -->
</footer>