{% extends "common/base.html" %}
{% block body %}
<div class="container mb-11">
<div class="row gx-0">
    <div class="col-md-7 col-xl-4 mx-auto">
        <!-- Login -->
        <h3 class="mb-6">Log In to Your Skola Account!</h3>
        {% include "common/error.html" %}
        <!-- Form Login -->
        <form class="mb-5" method="POST" action="{% url 'userlogin'%}">
            {% csrf_token %}
            <!-- Email -->
            <div class="form-group mb-5">
                <label for="modalSigninEmail1">
                    Username or Email
                </label>
                <input type="email" class="form-control" id="modalSigninEmail1" placeholder="creativelayers" name="email">
            </div>

            <!-- Password -->
            <div class="form-group mb-5">
                <label for="modalSigninPassword1">
                    Password
                </label>
                <input type="password" class="form-control" id="modalSigninPassword1" placeholder="**********" name="password">
            </div>

            <div class="d-flex align-items-center mb-5 font-size-sm">
                <div class="form-check">
                    <input class="form-check-input text-gray-800" type="checkbox" id="autoSizingCheck1">
                    <label class="form-check-label text-gray-800" for="autoSizingCheck1">
                        Remember me
                    </label>
                </div>

                <div class="ms-auto">
                    <a class="text-gray-800" href="recover.html">Forgot Password</a>
                </div>
            </div>

            <!-- Submit -->
            <button class="btn btn-block btn-primary" type="submit">
                LOGIN
            </button>
        </form>

        <!-- Text -->
        <p class="mb-0 font-size-sm text-center">
            Don't have an account? <a class="text-underline" href="{% url 'register' %}">Sign up</a>
        </p>
    </div>
</div>
</div>
{% endblock body %}